cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #79137c;
    
  }
  
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #0f0f0f;
  }
  
  .summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #21f833;
  }
  
  .amount {
    font-weight: bold;
    border: 3px solid #080808;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #01070a;
  }
  .amount:hover{
    background-color: #792281;
    color: white;
    font-weight: bold;
   
   
  }
  
  .actions {
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .actions {
      flex-direction: row;
    }
  }
  
  .cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color:  #030e14;
    border: 4px solid #0f0e0f;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color: #792281;
    color: white;
  }